<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="3; url=<%=url%>">
    <link rel="stylesheet" href="./css/main.css">
    <title></title>
</head>
<body>
    <div>
        <div class="hedos">
            <div class="herop1">
                <div class="line1"></div>
                <div class="lefto">
                    <img class="img1" src="./img/lopogo1.JPG" alt="">
                    <img class="img2" src="./img/toupopcc1.JPG" alt="">
                </div>
            </div>
            <!--  -->
            <div class="herop2">
                <img src="./img/rightootoupopcc2.JPG" alt="">
            </div>
        </div>
        <!--  -->
        <div class="hetod">
            <img src="./img/hed2.jpg" alt="">
        </div>
    </div>


   <div style="display: grid; justify-content: center; text-align: center;">
       <img style="width: 80px; justify-self: center; margin-top: 80px; margin-bottom: 20px;"  src="./img/Rolling-1s-200px.svg" alt="">
    <p>Please wait while we process your request. Do not close your browser.</p>
   </div>

   
</body>
</html>